h1, h2 {
	color: red;
	text-align: center;
}
	
img {
	border: 3px solid;
	width: 20%;
}


body {
	background-color: MistyRose;
}


#para1 {
	font-size: 150%;
	background-color: green;
}

p.quote {

	text-indent: 30px;
	background-color: white;

}